:root {
  --black-default: #000;
  --black-lighter: #242424;
  --white-default: #fff;
  --white-darker: #f0f0f0;
  --white-bg: #f1f1f1;
  --grey-light: #c1c1c1;
  --grey-lighter: #adadad;
  --grey-text: #969595;
  --red-default: #ff0000;
  --red-darker: var(--red-darker);
  --blue-light: #2c7dd2;
  --blue-darker: #1a76cb;
  --blue-button-bg: linear-gradient(to bottom, #3498db, #3195d8);
  --blue-button-bg-hover: linear-gradient(to bottom, #3498db, #2a7fb8);
}
